.collection-images {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
  
.range-images {
    flex: 25%;
    padding: 0 4px;
}

.range-images img {
    margin-top: 8px;
    vertical-align: middle;
}